:root {
  --var-black: #111111;
  --var-white: #ffffff;
  --var-green: #2ecc40;
}
body {
  background-color: var(--var-white);
  color: var (--var-black);
}

#cy {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 20px;
}
